<html>

<head>
    <title>
        Django Quiz
    </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}" style='display:flex'>Django Quiz</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'home' %}">{{'Quiz List'}}</a></li>
                    {% else %}				
                    <li><a href="{% url 'home' %}">{{ 'Quiz List' }}</a></li>
                    <li><a href="{% url 'new_quiz' %}">{{ 'Add New Quiz' }}</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">{{ 'logout' }}</a></li>
                    {% else %}
                    <li><a href="">{{ request.user.username }}</a></li>
                    <li><a href="{% url 'login' %}">{{ 'login' }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </div>    
</body>

</html>