{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    <p>New Here? Create an account <a href="{% url 'signup' %}">Sign Up</a></p>
  </form>
{% endblock %}