{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h3>{{ question }}</h3>
<form method="POST" class="post-form">{% csrf_token %}
    {{ choice_form|crispy }}
    <button type="submit" class="save btn btn-default">Add Choices</button>
</form>
{% endblock %}