{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<form method="POST" class="post-form">{% csrf_token %}
    {{ question_form|crispy }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>
{% endblock %}