{% extends 'base.html' %}

{% block content %}
<h2> Recent Quizzes</h2>
{% for quiz in quiz_items %}
<div class="quiz">
    <h3>Title: <a href="{% url 'quiz_detail' pk=quiz.id %}">{{ quiz.quiz_title }}</a></h3>
    <div class="date">
        <p>Created On: {{ quiz.created_on }}</p>
        <p>Created By: {{ quiz.created_by }}</p>
        <p>Category: <a>{{ quiz.quiz_category }}</a></p>
    </div>
</div>
{% endfor %}
{% endblock %}