{% extends 'base.html' %}

{% block content %}

    <h1>{{ quiz.quiz_title }}</h1>
    <a href="{% url 'question_new' pk=quiz.id %}"><button>Add Questions</button></a>
    {% for choice in choices %}
        <div>
            {% for key, value in choice.items %}
                <h3>{{ key }}</h3>
                {% if value %}
                    <ul>
                    {% for choice_items in value %}
                        <li>{{ choice_items }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <a href="{% url 'add_choice' quiz_pk=quiz.id question_pk=key.id %}"><button>Add Choices</button></a>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock%}