{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<form method="POST" class="post-form">{% csrf_token %}
    {% if messages %}
    <ul class="messages">
        {% for msg in messages %}
        <li>
            <div class="alert alert-{{msg.level_tag}}" role="alert">
                {{msg.message}}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Welcome, {{ user }}</h1>
    <h2>Quiz: {{ quiz.quiz_title }}</h2>
    <ol>
        {% for choice in choices %}
        <div>
            {% for key, value in choice.items %}
            <li>
                <h4>{{ key }}</h4>
            </li>
            {% if value %}
            <div style="display: flex; justify-content: space-around;">
                {% for choice_items in value %}
                <p><input type="radio" name="{{ key }}" value="{{ choice_items }}"> {{ choice_items }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </ol>
    <button type="submit" class="save btn btn-default">Submit</button>
</form>
{% endblock %}